Repository RMoodsTeam/RMoods, pull requests merged in 2024-07, with the labels that each got.

#38 RMoods Rename - Backend + Repo + misc.
  .github/ISSUE_TEMPLATE/feature-assignment.md
  README.md
  backend/Cargo.toml
  backend/Dockerfile
  backend/README.md
  backend/src/main.rs
  docs/index.html
Labels: documentation, backend, repo settings

#39 change instances of XMoods to RMoods
  frontend/package-lock.json
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
Labels: frontend

#41 swap out jest for cypress
  .github/workflows/frontend.yml
  frontend/.eslintrc.json
  frontend/__tests__/page.test.tsx
  frontend/app/favicon.ico
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/cypress.config.ts
  frontend/cypress/component/Button.cy.tsx
  frontend/cypress/fixtures/example.json
  frontend/cypress/support/commands.ts
  frontend/cypress/support/component-index.html
  frontend/cypress/support/component.ts
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#51 Nlp Rest Api + python virtual environment (venv)
  nlp/.gitignore
  nlp/Dockerfile
  nlp/README.md
  nlp/compose.yaml
  nlp/requirements.txt
  nlp/src/main.py
  nlp/tests/test_main.py
Labels: nlp

#53 Reddit API - Initial structure
  backend/Cargo.toml
  backend/src/api/mod.rs
  backend/src/api/test.rs
  backend/src/app_error.rs
  backend/src/auth/mod.rs
  backend/src/auth/router.rs
  backend/src/main.rs
  backend/src/reddit/mod.rs
  backend/src/reddit/model/comment.rs
  backend/src/reddit/model/listing.rs
  backend/src/reddit/model/mod.rs
  backend/src/reddit/model/post.rs
  backend/src/reddit/model/subreddit_info.rs
  backend/src/reddit/model/user.rs
  backend/src/reddit/reddit_error.rs
  backend/src/reddit/tests.rs
Labels: backend, reddit api

#55 Fix Dockerfile and change credentials loading
  .github/workflows/backend.yml
  README.md
  backend/.dockerignore
  backend/.gitignore
  backend/Cargo.toml
  backend/Dockerfile
  backend/compose.yaml
  backend/src/main.rs
  backend/src/reddit/mod.rs
  backend/src/reddit/tests.rs
Labels: documentation, backend, docker

#60 Connect to our Postgres, add connection pool to AppState
  backend/Cargo.toml
  backend/migrations/20240722212621_initial.sql
  backend/src/main.rs
Labels: backend, database

#63 Add all debug endpoints
  backend/src/api/mod.rs
  backend/src/api/test.rs
  backend/src/reddit/mod.rs
  backend/src/reddit/model/comment.rs
  backend/src/reddit/model/listing.rs
  backend/src/reddit/model/subreddit_info.rs
  backend/src/reddit/reddit_error.rs
Labels: backend, reddit api

#65 Fix README.md, extend backend README.md
  README.md
  backend/README.md
Labels: documentation, fix

#66 Refactor Reddit API code
  backend/src/api/test.rs
  backend/src/app_error.rs
  backend/src/main.rs
  backend/src/reddit/auth.rs
  backend/src/reddit/connection.rs
  backend/src/reddit/error.rs
  backend/src/reddit/mod.rs
  backend/src/reddit/model/comment.rs
  backend/src/reddit/model/listing.rs
  backend/src/reddit/model/post.rs
  backend/src/reddit/model/subreddit_info.rs
  backend/src/reddit/model/user.rs
  backend/src/reddit/request.rs
  backend/src/reddit/tests.rs
Labels: backend, reddit api

#57 Sebastian nowak01/dark mode
  .github/workflows/frontend.yml
  frontend/app/components/Footer.tsx
  frontend/app/components/Login.tsx
  frontend/app/components/Navbar.tsx
  frontend/app/components/ThemeSwitch.tsx
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/cypress.config.ts
  frontend/cypress/e2e/ThemeSwitch.cy.ts
  frontend/cypress/support/e2e.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/tailwind.config.ts
Labels: frontend

#72 Google+JWT authentication
  backend/Cargo.toml
  backend/src/app_error.rs
  backend/src/auth/error.rs
  backend/src/auth/google.rs
  backend/src/auth/jwt.rs
  backend/src/auth/middleware.rs
  backend/src/auth/mod.rs
  backend/src/auth/routes.rs
  backend/src/main.rs
  frontend/.gitignore
  frontend/app/components/Login.tsx
  frontend/app/components/Navbar.tsx
  frontend/app/components/Title.tsx
  frontend/app/dashboard/page.tsx
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/login/GoogleSignInButton.tsx
  frontend/app/login/page.tsx
  frontend/app/page.tsx
  frontend/middleware.ts
  frontend/next.config.mjs
  frontend/package-lock.json
  frontend/package.json
  frontend/tailwind.config.ts
Labels: frontend, backend, google login

#73 Fix color configuration in tailwind
  frontend/tailwind.config.ts
Labels: good first issue, frontend, bugfix

#74 Improve the look of our repo
  .github/ISSUE_TEMPLATE/feature-assignment.md
  LICENSE
  README.md
Labels: repo settings, meta

#76 Feature/api report routes
  backend/src/api/debug.rs
  backend/src/api/mod.rs
  backend/src/api/report/clickbait.rs
  backend/src/api/report/hate_speech.rs
  backend/src/api/report/keywords.rs
  backend/src/api/report/language.rs
  backend/src/api/report/mod.rs
  backend/src/api/report/politics.rs
  backend/src/api/report/sarcasm.rs
  backend/src/api/report/sentiment.rs
  backend/src/api/report/spam.rs
  backend/src/api/report/troll.rs
  backend/src/auth/login.rs
  backend/src/auth/mod.rs
  backend/src/auth/routes.rs
  backend/src/main.rs
  backend/src/open_api.rs
  backend/src/reddit/tests.rs
Labels: documentation, backend
