Repository RMoodsTeam/RMoods, pull requests merged in 2024-08, with the labels that each got.

#81 Improve styling, add basic components
  frontend/app/components/Button.tsx
  frontend/app/components/Card.tsx
  frontend/app/components/Footer.tsx
  frontend/app/components/Link.tsx
  frontend/app/components/MainContainer.tsx
  frontend/app/components/Navbar.tsx
  frontend/app/components/ThemeSwitch.tsx
  frontend/app/components/Title.tsx
  frontend/app/dashboard/page.tsx
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/login/GoogleSignInButton.tsx
  frontend/app/login/page.tsx
  frontend/app/page.tsx
  frontend/tailwind.config.ts
Labels: frontend

#80 Jotai state management, user info
  .github/workflows/frontend.yml
  .github/workflows/static.yml
  backend/src/auth/login.rs
  frontend/app/Providers.tsx
  frontend/app/atoms.ts
  frontend/app/dashboard/page.tsx
  frontend/app/layout.tsx
  frontend/app/login/page.tsx
  frontend/app/login/postGoogleCode.ts
  frontend/middleware.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
Labels: frontend, bugfix

#83 Update the theme switcher
  frontend/app/atoms.ts
  frontend/app/components/Card.tsx
  frontend/app/components/Dropdown.tsx
  frontend/app/components/Link.tsx
  frontend/app/components/Navbar.tsx
  frontend/app/components/ThemeSwitch.tsx
  frontend/app/layout.tsx
  frontend/cypress/e2e/ThemeSwitch.cy.ts
  frontend/middleware.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/public/initializeTheme.js
Labels: frontend

#84 Fetch wrapper with authorization
  frontend/app/dashboard/DebugSubredditInfo.tsx
  frontend/app/dashboard/DebugUserInfo.tsx
  frontend/app/dashboard/LoggedUserInfo.tsx
  frontend/app/dashboard/page.tsx
  frontend/app/rmoods/api.ts
  frontend/app/rmoods/authFetch.ts
Labels: frontend

#85 Improve `/dashboard`, persist user info on refresh
  backend/src/auth/jwt.rs
  backend/src/auth/login.rs
  backend/src/auth/middleware.rs
  frontend/app/components/MainContainer.tsx
  frontend/app/dashboard/LoggedUserInfo.tsx
  frontend/app/dashboard/page.tsx
  frontend/app/rmoods/authFetch.ts
  frontend/app/utility/serverActions.ts
  frontend/next.config.mjs
Labels: frontend

#88 Add Cypress tests, both e2e and for components
  .github/workflows/frontend.yml
  frontend/.gitignore
  frontend/Dockerfile
  frontend/README.Docker.md
  frontend/README.md
  frontend/app/components/Card.tsx
  frontend/app/components/Dropdown.tsx
  frontend/app/components/ThemeSwitch.tsx
  frontend/app/layout.tsx
  frontend/app/login/GoogleSignInButton.tsx
  frontend/app/login/page.tsx
  frontend/app/utility/serverActions.ts
  frontend/compose.yaml
  frontend/cypress/component/Dropdown.cy.tsx
  frontend/cypress/component/Title.cy.tsx
  frontend/cypress/e2e/Login.cy.ts
  frontend/cypress/e2e/ThemeSwitch.cy.ts
  frontend/cypress/support/e2e.ts
  frontend/middleware.ts
  frontend/package.json
  frontend/public/initializeTheme.js
Labels: frontend, testing

#89 Improve our components
  frontend/app/components/Button.tsx
  frontend/app/components/Card.tsx
  frontend/app/components/Dropdown.tsx
  frontend/app/components/Link.tsx
  frontend/app/components/ThemeSwitch.tsx
  frontend/app/components/Title.tsx
  frontend/app/components/types.ts
  frontend/cypress/component/Dropdown.cy.tsx
Labels: frontend

#91 Repair small server bug when family name on Google account is empty
  backend/src/auth/google.rs
  frontend/middleware.ts
Labels: bug

#93 Rewrite RedditRequest, add customized requests, write docs
  backend/src/api/debug.rs
  backend/src/api/mod.rs
  backend/src/api/report/mod.rs
  backend/src/app_error.rs
  backend/src/auth/error.rs
  backend/src/auth/google.rs
  backend/src/auth/jwt.rs
  backend/src/auth/login.rs
  backend/src/auth/middleware.rs
  backend/src/auth/mod.rs
  backend/src/auth/routes.rs
  backend/src/main.rs
  backend/src/open_api.rs
  backend/src/reddit/auth.rs
  backend/src/reddit/connection.rs
  backend/src/reddit/error.rs
  backend/src/reddit/mod.rs
  backend/src/reddit/model/comment.rs
  backend/src/reddit/model/listing.rs
  backend/src/reddit/model/mod.rs
  backend/src/reddit/model/post.rs
  backend/src/reddit/request.rs
  backend/src/reddit/request/mod.rs
  backend/src/reddit/request/params.rs
  backend/src/reddit/request/tests.rs
  backend/src/reddit/tests.rs
  frontend/app/components/Title.tsx
Labels: documentation, backend
