Repository RMoodsTeam/RMoods, pull requests merged in 2024-10, with the labels that each got.

#120 119 improve theme switching
  frontend/.gitignore
  frontend/src/Providers.tsx
  frontend/src/atoms.ts
  frontend/src/components/navbar/ThemeSwitch.tsx
  frontend/src/components/navbar/UserMenu.tsx
  frontend/src/main.tsx
  frontend/src/theme.ts
Labels: frontend

#117 Store models/nlp
  .github/workflows/static.yml
  nlp/.env.example
  nlp/.gitignore
  nlp/docs/Makefile
  nlp/docs/conf.py
  nlp/docs/env_example.md
  nlp/docs/google_service.md
  nlp/docs/index.md
  nlp/docs/installation.md
  nlp/docs/main.md
  nlp/docs/make.bat
  nlp/docs/using_docker.md
  nlp/docs/version_checker.md
  nlp/models.version
  nlp/requirements.txt
  nlp/src/google_service.py
  nlp/src/main.py
  nlp/src/version_checker.py
Labels: nlp

#126 124: Improve theme switcher
  frontend/src/components/navbar/ThemeSwitch.tsx
  frontend/src/theme.ts
Labels: frontend

#128 127: Add git hook standardizing commit messages
  .github/hooks/commit-msg
  .github/install_hooks.sh
  README.md
Labels: repo settings, meta

#129 105 sidebar
  frontend/package.json
  frontend/src/Layout.tsx
  frontend/src/components/DashboardLayout.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/MainContainer.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/components/navbar/Navbar.tsx
  frontend/src/router.tsx
  frontend/src/routes/about/page.tsx
  frontend/src/routes/dashboard/page.tsx
Labels: frontend

#135 121 combine data from many reddit requests
  backend/src/api/auth/error.rs
  backend/src/api/auth/google.rs
  backend/src/api/auth/jwt.rs
  backend/src/api/auth/login.rs
  backend/src/api/auth/middleware.rs
  backend/src/api/auth/mod.rs
  backend/src/api/debug.rs
  backend/src/api/mod.rs
  backend/src/app_error.rs
  backend/src/main.rs
  backend/src/reddit/connection.rs
  backend/src/reddit/model/comment.rs
  backend/src/reddit/model/listing.rs
  backend/src/reddit/model/mod.rs
  backend/src/reddit/model/post.rs
  backend/src/reddit/model/subreddit_info.rs
  backend/src/reddit/model/user.rs
  backend/src/reddit/request/mod.rs
  backend/src/reddit_fetcher/fetcher.rs
  backend/src/reddit_fetcher/fetcher_error.rs
  backend/src/reddit_fetcher/mod.rs
  backend/src/reddit_fetcher/model/mod.rs
  backend/src/reddit_fetcher/model/post_comments.rs
  backend/src/reddit_fetcher/model/posts.rs
  backend/src/reddit_fetcher/model/reddit_data.rs
  backend/src/reddit_fetcher/model/user_posts.rs
  backend/src/reddit_fetcher/nlp_request.rs
  backend/src/reddit_fetcher/reddit/auth.rs
  backend/src/reddit_fetcher/reddit/connection.rs
  backend/src/reddit_fetcher/reddit/error.rs
  backend/src/reddit_fetcher/reddit/mod.rs
  backend/src/reddit_fetcher/reddit/model/mod.rs
  backend/src/reddit_fetcher/reddit/request/mod.rs
  backend/src/reddit_fetcher/reddit/request/params.rs
  backend/src/reddit_fetcher/reddit/request/tests.rs
  backend/src/reddit_fetcher/reddit/tests.rs
Labels: backend, reddit api

#140 137: Add graceful shutdown, update .gitignores
  .gitignore
  backend/.gitignore
  backend/src/main.rs
  backend/src/startup.rs
Labels: backend, repo settings

#147 141 websocket backend service
  backend/.env.example
  backend/Cargo.toml
  backend/src/api/auth/google.rs
  backend/src/api/auth/mod.rs
  backend/src/main.rs
  backend/src/startup.rs
  backend/src/websocket/mod.rs
  backend/src/websocket/peers.rs
Labels: backend, websocket
