Repository RMoodsTeam/RMoods, pull requests merged in 2024-03, with the labels that each got.

#11 Initial backend setup
  .github/workflows/backend-test.yml
  .github/workflows/backend.yml
  .github/workflows/static.yml
  README.md
  docs/index.html
  docs/styles.css
Labels: documentation, backend, docker, testing

#12 SebastianNowak01/frontend setup
  .github/workflows/frontend.yml
  .github/workflows/static.yml
  docs/index.html
  xmoods-frontend/.dockerignore
  xmoods-frontend/.eslintrc.json
  xmoods-frontend/.gitignore
  xmoods-frontend/Dockerfile
  xmoods-frontend/README.Docker.md
  xmoods-frontend/README.md
  xmoods-frontend/__tests__/page.test.tsx
  xmoods-frontend/compose.yaml
  xmoods-frontend/jest.config.js
  xmoods-frontend/next.config.mjs
  xmoods-frontend/package-lock.json
  xmoods-frontend/package.json
  xmoods-frontend/postcss.config.js
  xmoods-frontend/public/next.svg
  xmoods-frontend/public/vercel.svg
  xmoods-frontend/src/app/favicon.ico
  xmoods-frontend/src/app/globals.css
  xmoods-frontend/src/app/layout.tsx
  xmoods-frontend/src/app/page.tsx
  xmoods-frontend/tailwind.config.ts
  xmoods-frontend/tsconfig.json
Labels: documentation, frontend, docker, testing

#13 Setup Docker for the API
  xmoods-api/.dockerignore
  xmoods-api/.gitignore
  xmoods-api/Dockerfile
  xmoods-api/compose.yaml
Labels: backend, docker

#17 Nlp setup
  .github/workflows/nlp.yml
  .github/workflows/static.yml
  docs/index.html
  xmoods-nlp/.dockerignore
  xmoods-nlp/.gitignore
  xmoods-nlp/Dockerfile
  xmoods-nlp/README.Docker.md
  xmoods-nlp/compose.yaml
  xmoods-nlp/requirements.txt
  xmoods-nlp/src/main.py
  xmoods-nlp/tests/__init__.py
  xmoods-nlp/tests/test_main.py
Labels: documentation, nlp, docker, testing

#18 Fix workflows
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  .github/workflows/nlp.yml
  .github/workflows/static.yml
Labels: bug, documentation, nlp
