Repository RMoodsTeam/RMoods, pull requests merged in 2024-11, with the labels that each got.

#152 149: Add fetching "About" info for users and subreddits
  backend/src/api/debug.rs
  backend/src/api/mod.rs
  backend/src/reddit_fetcher/feed_request.rs
  backend/src/reddit_fetcher/fetcher.rs
  backend/src/reddit_fetcher/fetcher_error.rs
  backend/src/reddit_fetcher/mod.rs
  backend/src/reddit_fetcher/model/mod.rs
  backend/src/reddit_fetcher/model/post_comments.rs
  backend/src/reddit_fetcher/model/posts.rs
  backend/src/reddit_fetcher/model/reddit_data.rs
  backend/src/reddit_fetcher/model/subreddit_info.rs
  backend/src/reddit_fetcher/model/user_info.rs
  backend/src/reddit_fetcher/model/user_posts.rs
  backend/src/reddit_fetcher/reddit/connection.rs
  backend/src/reddit_fetcher/reddit/model/mod.rs
  backend/src/reddit_fetcher/reddit/request/mod.rs
  backend/src/reddit_fetcher/reddit/request/tests.rs
Labels: backend, reddit api

#160 155 mantine UI migration
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Layout.tsx
  frontend/src/Providers.tsx
  frontend/src/WebsocketProvider.tsx
  frontend/src/atoms.ts
  frontend/src/components/DashboardLayout.tsx
  frontend/src/components/Demo.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/NavbarNested.module.css
  frontend/src/components/Sidebar.tsx
  frontend/src/components/navbar/Navbar.tsx
  frontend/src/components/navbar/ThemeSwitch.tsx
  frontend/src/components/navbar/UserMenu.tsx
  frontend/src/index.css
  frontend/src/rmoods/websockets/wsClient.ts
  frontend/src/routes/about/Section.tsx
  frontend/src/routes/about/page.tsx
  frontend/src/routes/dashboard/DebugSubredditInfo.tsx
  frontend/src/routes/dashboard/DebugUserInfo.tsx
  frontend/src/routes/dashboard/LoggedUserInfo.tsx
  frontend/src/routes/dashboard/page.tsx
  frontend/src/routes/login/GoogleSignInButton.tsx
  frontend/src/routes/login/page.tsx
  frontend/src/routes/page.tsx
  frontend/src/theme.ts
Labels: frontend

#162 153 offload report generation to separate tokio tasks send results through websockets
  backend/Cargo.toml
  backend/src/api/debug.rs
  backend/src/api/mod.rs
  backend/src/app_error.rs
  backend/src/main.rs
  backend/src/reddit_fetcher/mod.rs
  backend/src/reddit_fetcher/model/post_comments.rs
  backend/src/reddit_fetcher/model/posts.rs
  backend/src/reddit_fetcher/model/user_posts.rs
  backend/src/reddit_fetcher/reddit/connection.rs
  backend/src/reddit_fetcher/reddit/error.rs
  backend/src/rmoods/mod.rs
  backend/src/rmoods/report.rs
  backend/src/rmoods/report_ack.rs
  backend/src/websocket/mod.rs
  backend/src/websocket/peers.rs
  backend/src/websocket/socket_handler.rs
  backend/src/websocket/ws_service.rs
Labels: backend, websocket

#164 157 language recognition model mvp
  nlp/Dockerfile
  nlp/compose.yaml
  nlp/docs/conf.py
  nlp/docs/main.md
  nlp/docs/version_checker.md
  nlp/requirements.txt
  nlp/src/main.py
  nlp/src/version_checker.py
  nlp/tests/test_main.py
  nlp/version_models.json
Labels: backend, nlp

#169 163 backend client for nlp
  backend/.env.example
  backend/src/api/auth/google.rs
  backend/src/api/debug.rs
  backend/src/api/mod.rs
  backend/src/api/report_ack.rs
  backend/src/app_error.rs
  backend/src/env.rs
  backend/src/main.rs
  backend/src/nlp/error.rs
  backend/src/nlp/mod.rs
  backend/src/nlp/nlp_client.rs
  backend/src/nlp/nlp_response.rs
  backend/src/nlp/report.rs
  backend/src/reddit_fetcher/model/post_comments.rs
  backend/src/reddit_fetcher/model/posts.rs
  backend/src/reddit_fetcher/model/reddit_data.rs
  backend/src/reddit_fetcher/model/user_posts.rs
  backend/src/reddit_fetcher/reddit/connection.rs
  backend/src/reddit_fetcher/reddit/model/mod.rs
  backend/src/rmoods/mod.rs
  backend/src/rmoods/report.rs
  backend/src/startup.rs
  backend/src/websocket/mod.rs
  backend/src/websocket/socket_handler.rs
  backend/src/websocket/ws_service.rs
  nlp/README.md
  nlp/src/main.py
  nlp/start.py
Labels: backend, nlp, websocket

#171 170 refactor backend api endpoints
  backend/Cargo.toml
  backend/src/api/about/mod.rs
  backend/src/api/about/subreddit.rs
  backend/src/api/about/user.rs
  backend/src/api/debug.rs
  backend/src/api/mod.rs
  backend/src/api/report/clickbait.rs
  backend/src/api/report/generate.rs
  backend/src/api/report/hate_speech.rs
  backend/src/api/report/keywords.rs
  backend/src/api/report/language.rs
  backend/src/api/report/mod.rs
  backend/src/api/report/politics.rs
  backend/src/api/report/report_ack.rs
  backend/src/api/report/sarcasm.rs
  backend/src/api/report/sentiment.rs
  backend/src/api/report/spam.rs
  backend/src/api/report/troll.rs
  backend/src/reddit_fetcher/feed_request.rs
  backend/src/reddit_fetcher/fetcher.rs
  backend/src/reddit_fetcher/fetcher_error.rs
  backend/src/reddit_fetcher/mod.rs
  backend/src/reddit_fetcher/model/reddit_data.rs
  backend/src/reddit_fetcher/model/subreddit_info.rs
  backend/src/reddit_fetcher/model/user_info.rs
  backend/src/reddit_fetcher/reddit/auth.rs
  backend/src/reddit_fetcher/reddit/connection.rs
  backend/src/reddit_fetcher/reddit/model/mod.rs
  backend/src/reddit_fetcher/reddit/request/mod.rs
  backend/src/reddit_fetcher/reddit/request/params.rs
  backend/src/reddit_fetcher/reddit/tests.rs
  backend/src/reddit_fetcher/tests.rs
Labels: backend, testing, reddit api, tech debt

#190 189 add prettierrc file
  frontend/.prettierrc
  frontend/src/Layout.tsx
  frontend/src/Providers.tsx
  frontend/src/WebsocketProvider.tsx
  frontend/src/atoms.ts
  frontend/src/components/DashboardLayout.tsx
  frontend/src/components/Demo.tsx
  frontend/src/components/LoremIpsum.tsx
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/components/footer/Footer.tsx
  frontend/src/components/footer/FooterCentered.module.css
  frontend/src/components/footer/TemporaryLogo.tsx
  frontend/src/components/navbar/Navbar.tsx
  frontend/src/components/navbar/ThemeSwitch.tsx
  frontend/src/components/navbar/UserMenu.tsx
  frontend/src/components/sidebar/Sidebar.tsx
  frontend/src/components/sidebar/SidebarLinksGroup.module.css
  frontend/src/components/sidebar/SidebarLinksGroup.tsx
  frontend/src/components/sidebar/SidebarNested.module.css
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/rmoods/client/RMoodsClient.ts
  frontend/src/rmoods/client/authFetch.ts
  frontend/src/rmoods/client/types.ts
  frontend/src/rmoods/websockets/wsClient.ts
  frontend/src/router.tsx
  frontend/src/routes/about/Section.tsx
  frontend/src/routes/about/page.tsx
  frontend/src/routes/dashboard/DebugSubredditInfo.tsx
  frontend/src/routes/dashboard/DebugUserInfo.tsx
  frontend/src/routes/dashboard/LoggedUserInfo.tsx
  frontend/src/routes/dashboard/page.tsx
  frontend/src/routes/login/GoogleSignInButton.tsx
  frontend/src/routes/login/page.tsx
  frontend/src/routes/page.tsx
  frontend/src/routes/report/page.tsx
Labels: frontend

#191 188: Generate report IDs, send them over WS
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/api/report/generate.rs
  backend/src/main.rs
  backend/src/nlp/nlp_response.rs
  backend/src/nlp/report.rs
  backend/src/reddit_fetcher/tests.rs
  backend/src/websocket/mod.rs
  backend/src/websocket/peers.rs
  backend/src/websocket/socket_handler.rs
  backend/src/websocket/ws_service.rs
Labels: backend, websocket, tech debt

#194 186 user info in the database
  backend/.sqlx/query-843923b9a0257cf80f1dff554e7dc8fdfc05f489328e8376513124dfb42996e3.json
  backend/.sqlx/query-8f11a8563fc7adce7ec06bace181a9761a7fdccc49670eb89d67b1cc57a2149d.json
  backend/migrations/20240722212621_initial.sql
  backend/migrations/20241122112357_users.down.sql
  backend/migrations/20241122112357_users.up.sql
  backend/src/api/auth/google.rs
  backend/src/api/auth/jwt.rs
  backend/src/api/auth/login.rs
  backend/src/api/auth/mod.rs
  backend/src/api/mod.rs
  backend/src/api/report/generate.rs
  backend/src/api/user/mod.rs
  backend/src/app_error.rs
  backend/src/nlp/report.rs
  backend/src/websocket/mod.rs
  backend/src/websocket/peers.rs
  backend/src/websocket/socket_handler.rs
Labels: backend, database

#193 64 user profile page
  backend/src/api/auth/jwt.rs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/navbar/UserMenu.tsx
  frontend/src/rmoods/jwt.ts
  frontend/src/router.tsx
  frontend/src/routes/user/ProfilePicture.tsx
  frontend/src/routes/user/StatisticItem.tsx
  frontend/src/routes/user/UserCard.tsx
  frontend/src/routes/user/page.tsx
Labels: frontend

#196 179 more nlp models
  .github/workflows/nlp.yml
  .github/workflows/static.yml
  nlp/requirements.txt
  nlp/src/main.py
  nlp/src/version_checker.py
  nlp/start.py
  nlp/tests/test_main.py
  nlp/version_models.json
Labels: nlp

#198 180: Add user picture as dropdown, change requested image size on pro…
  frontend/src/components/navbar/UserMenu.tsx
  frontend/src/router.tsx
  frontend/src/routes/settings/page.tsx
  frontend/src/routes/user/ProfilePicture.tsx
  frontend/src/routes/user/UserCard.tsx
  frontend/src/routes/user/page.tsx
  frontend/src/utility/changeDefaultGoogleProfilePicureSize.ts
Labels: frontend

#199 175 display the number of remaining reddit api requests in the frontend
  backend/src/api/mod.rs
  backend/src/api/system/mod.rs
  backend/src/reddit_fetcher/fetcher.rs
  backend/src/reddit_fetcher/reddit/connection.rs
  backend/src/reddit_fetcher/reddit/error.rs
  backend/src/reddit_fetcher/reddit/mod.rs
  backend/src/reddit_fetcher/reddit/ratelimit_headers.rs
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/navbar/Navbar.tsx
  frontend/src/components/navbar/RateLimitStatus.tsx
  frontend/src/main.tsx
  frontend/src/providers/Providers.tsx
  frontend/src/providers/QueryProvider.tsx
  frontend/src/providers/WebsocketProvider.tsx
  frontend/src/rmoods/client/RMoodsClient.ts
  frontend/src/rmoods/client/authFetch.ts
  frontend/src/routes/user/page.tsx
Labels: frontend, reddit api

#202 177 complete nlp api client on the backend
  backend/src/api/auth/login.rs
  backend/src/api/report/generate.rs
  backend/src/nlp/analysis.rs
  backend/src/nlp/error.rs
  backend/src/nlp/mod.rs
  backend/src/nlp/nlp_client.rs
  backend/src/nlp/nlp_response.rs
  backend/src/nlp/report.rs
  backend/src/reddit_fetcher/feed_request.rs
  nlp/src/main.py
Labels: backend, nlp
