Repository RMoodsTeam/RMoods, pull requests merged in 2024-12, with the labels that each got.

#207 184 nlp api key
  .github/workflows/nlp.yml
  backend/.env.example
  nlp/.env.example
  nlp/docs/authorization.md
  nlp/docs/base_models.md
  nlp/docs/env_example.md
  nlp/docs/google_service.md
  nlp/docs/index.md
  nlp/docs/models_loading.md
  nlp/docs/utils.md
  nlp/requirements.txt
  nlp/src/authorization.py
  nlp/src/base_models.py
  nlp/src/globals.py
  nlp/src/main.py
  nlp/src/models_loading.py
  nlp/src/utils.py
  nlp/tests/test_main.py
Labels: nlp

#225 214 refactor backend auth module
  backend/src/api/about/subreddit.rs
  backend/src/api/about/user.rs
  backend/src/api/auth/login.rs
  backend/src/api/auth/mod.rs
  backend/src/api/report/generate.rs
  backend/src/api/system/mod.rs
  backend/src/api/user/mod.rs
  backend/src/app_error.rs
  backend/src/auth/error.rs
  backend/src/auth/google.rs
  backend/src/auth/jwt.rs
  backend/src/auth/middleware.rs
  backend/src/auth/mod.rs
  backend/src/fetcher/feed_request.rs
  backend/src/fetcher/fetcher.rs
  backend/src/fetcher/fetcher_error.rs
  backend/src/fetcher/mod.rs
  backend/src/fetcher/model/mod.rs
  backend/src/fetcher/model/post_comments.rs
  backend/src/fetcher/model/posts.rs
  backend/src/fetcher/model/reddit_data.rs
  backend/src/fetcher/model/subreddit_info.rs
  backend/src/fetcher/model/user_info.rs
  backend/src/fetcher/model/user_posts.rs
  backend/src/fetcher/reddit/auth.rs
  backend/src/fetcher/reddit/connection.rs
  backend/src/fetcher/reddit/error.rs
  backend/src/fetcher/reddit/mod.rs
  backend/src/fetcher/reddit/model/mod.rs
  backend/src/fetcher/reddit/ratelimit_headers.rs
  backend/src/fetcher/reddit/request/feed_sorting.rs
  backend/src/fetcher/reddit/request/mod.rs
  backend/src/fetcher/reddit/request/tests.rs
  backend/src/fetcher/reddit/tests.rs
  backend/src/fetcher/tests.rs
  backend/src/main.rs
  backend/src/nlp/report.rs
  backend/src/open_api.rs
  backend/src/websocket/mod.rs
  backend/src/websocket/peers.rs
  backend/src/websocket/socket_handler.rs
Labels: backend, tech debt

#228 178 handle all websocket messages from the backend
  backend/src/websocket/mod.rs
  frontend/src/providers/WebsocketProvider.tsx
  frontend/src/routes/report/InputRow.tsx
  frontend/src/routes/report/page.tsx
  frontend/src/routes/report/tables.tsx
  frontend/src/routes/report/types.ts
  frontend/src/routes/report/websocketMethods.tsx
Labels: frontend

#234 212: Put nav items into Group component
  frontend/src/components/DefaultNavbar.tsx
  frontend/src/components/navbar/Navbar.tsx
  frontend/src/components/sidebar/SidebarNested.module.css
Labels: frontend, bugfix

#231 185 database client for the backend
  backend/.sqlx/query-0c046dc68d222c5191fe9bfeef8aa7cbd91cd58ea20fec14e858c4f7ac941220.json
  backend/.sqlx/query-17613a3b6727f0c84da021d2b71d29bd011981d504b4f15103da5ef473e33a7a.json
  backend/.sqlx/query-1db2fd8f265d6ede4154768b8ff682f933dbbe54b3af7f19bffbad2bfe3b2791.json
  backend/.sqlx/query-303f1c86a8cb98ce50db7fa375d1ecda72289910dddb0ea11ec189f13e8df886.json
  backend/.sqlx/query-3ef71e67e77492add482ea5eeb96c10896c98e574d2645cb84bc52fbadf34e14.json
  backend/.sqlx/query-4ce2126003ad407787e9e2e643024ccbf9320a12c7c0bc83fc0e5bef574287b6.json
  backend/.sqlx/query-4f16087e3cc907b3cebaa8eece40b19407d0ff97a3a890fdc4ccc95ddbad2c32.json
  backend/.sqlx/query-677fe26dc2c4be26688be08f4f0f222424c2c2319669038c2547c0e388c55eee.json
  backend/.sqlx/query-67973dd1d6532d7bc02b3c6b5624d26cd16a121f87088182f3d655d7acc737f9.json
  backend/.sqlx/query-6fc3355282a1a5d509d3b9d17867a89561e60004c099b80752ecc9a4bfd99c2d.json
  backend/.sqlx/query-8f11a8563fc7adce7ec06bace181a9761a7fdccc49670eb89d67b1cc57a2149d.json
  backend/.sqlx/query-bc98e38bc894d8b79922cfbc72e917fad151b8b3f5b5a1a7b0d52bf63f700a37.json
  backend/.sqlx/query-c0a282e0e25abc9a9a15a0987e54c3ae3b61b1dd3561a0957e5f8ba54e4ed88f.json
  backend/.sqlx/query-c9b907488444457dfa89e27e8d10142b0e7d1299f864915c9bf0822a58da96c3.json
  backend/.sqlx/query-d22310743d4e7ec53bf2989f735f8ec260d890cfe364fe51f4ecdd9e57663d5d.json
  backend/.sqlx/query-e1d7212e8bd7f2baecebe9a186af61602f3d2d4f7b7f0125e3411366decdcc61.json
  backend/.sqlx/query-ec99b4fa5a319108db8b35ea34a07f47590d2bbd3d1e6a4d74714944c747e84a.json
  backend/Cargo.lock
  backend/Cargo.toml
  backend/migrations/20241122112357_users.down.sql
  backend/migrations/20241122112357_users.up.sql
  backend/migrations/20241204183100_initial.down.sql
  backend/migrations/20241204183100_initial.up.sql
  backend/src/api/auth/login.rs
  backend/src/api/report/generate.rs
  backend/src/api/user/mod.rs
  backend/src/app_error.rs
  backend/src/auth/google.rs
  backend/src/auth/jwt.rs
  backend/src/db/db_client.rs
  backend/src/db/db_stored.rs
  backend/src/db/from_db.rs
  backend/src/db/impls/mod.rs
  backend/src/db/impls/nlp_analysis.rs
  backend/src/db/impls/nlp_metadata.rs
  backend/src/db/impls/report.rs
  backend/src/db/impls/report_analyses_map.rs
  backend/src/db/impls/report_metadata.rs
  backend/src/db/impls/user.rs
  backend/src/db/mod.rs
  backend/src/db/model/mod.rs
  backend/src/db/pagination.rs
  backend/src/main.rs
  backend/src/nlp/analysis.rs
  backend/src/nlp/nlp_client.rs
  backend/src/nlp/report.rs
  backend/src/websocket/mod.rs
  backend/src/websocket/peers.rs
  backend/src/websocket/socket_handler.rs
Labels: backend, database

#235 227 migrate user profile page to tanstack query
  frontend/src/components/navbar/RateLimitStatus.tsx
  frontend/src/components/navbar/UserMenu.tsx
  frontend/src/routes/user/UserCard.tsx
  frontend/src/routes/user/page.tsx
Labels: frontend

#242 241: Add IntelliJ run configurations
  .run/Build.run.xml
  .run/Clippy.run.xml
  .run/Local DB.run.xml
  .run/NLP.run.xml
  .run/Run.run.xml
  .run/Test NLP.run.xml
  .run/Test.run.xml
  .run/dev.run.xml
Labels: meta

#243 237 enhance nlp to support multiple models for multiple languages
  nlp/manager.sh
  nlp/src/authorization.py
  nlp/src/base_models.py
  nlp/src/globals.py
  nlp/src/main.py
  nlp/src/models_loading.py
  nlp/src/utils.py
  nlp/src/version_checker.py
  nlp/version_models.json
Labels: nlp

#244 229 make all analyses available for reports
  backend/src/api/report/generate.rs
  backend/src/nlp/nlp_client.rs
  nlp/src/main.py
  nlp/src/process_input.py
Labels: backend, nlp

#246 113: Setup frontend to be deployed to Github Pages, updated README.md
  .github/workflows/static.yml
  README.md
  frontend/cypress/e2e/Login.cy.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/DefaultNavbar.tsx
  frontend/src/components/footer/Footer.tsx
  frontend/src/components/navbar/Navbar.tsx
  frontend/src/router.tsx
  frontend/vite.config.ts
Labels: frontend, devops

#238 221: Add basic error boundaries
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Layout.tsx
  frontend/src/components/DashboardLayout.tsx
  frontend/src/components/DefaultNavbar.tsx
  frontend/src/components/fallbacks/ProfilePictureFallback.tsx
  frontend/src/components/fallbacks/RateLimitStatusFallback.tsx
  frontend/src/components/fallbacks/UserMenuFallback.tsx
  frontend/src/components/navbar/RateLimitStatus.tsx
  frontend/src/components/navbar/UserMenu.tsx
  frontend/src/main.tsx
  frontend/src/rmoods/client/types.ts
  frontend/src/router.tsx
  frontend/src/routes/about/page.tsx
  frontend/src/routes/dashboard/page.tsx
  frontend/src/routes/fallbacks/MainFallback.tsx
  frontend/src/routes/fallbacks/PageFallback.tsx
  frontend/src/routes/login/page.tsx
  frontend/src/routes/page.tsx
  frontend/src/routes/report/page.tsx
  frontend/src/routes/settings/page.tsx
  frontend/src/routes/user/ProfilePicture.tsx
  frontend/src/routes/user/UserCard.tsx
  frontend/src/routes/user/page.tsx
  frontend/src/utility/logout.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.vite.json
Labels: help wanted, frontend, testing, websocket, tech debt

#247 216 remove v1 from nlp model loading function
  nlp/src/globals.py
  nlp/src/main.py
  nlp/src/models_loading.py
  nlp/src/utils.py
  nlp/src/version_checker.py
Labels: nlp, tech debt

#248 220 database endpoints
  .github/workflows/backend.yml
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/api/mod.rs
  backend/src/api/report/get.rs
  backend/src/api/report/mod.rs
  backend/src/db/db_stored.rs
  backend/src/db/from_db.rs
  backend/src/db/impls/mod.rs
  backend/src/db/impls/nlp_analysis.rs
  backend/src/db/impls/nlp_metadata.rs
  backend/src/db/impls/report.rs
  backend/src/db/impls/report_analyses_map.rs
  backend/src/db/impls/report_metadata.rs
  backend/src/db/impls/report_repository.rs
  backend/src/db/impls/user.rs
  backend/src/db/mod.rs
  backend/src/db/pagination.rs
  backend/src/main.rs
Labels: backend, database

#250 222 cleanup /report and improve form styling
  .run/Run All.run.xml
  frontend/src/components/input/FloatingLabelInput.module.css
  frontend/src/components/input/FloatingLabelInput.tsx
  frontend/src/routes/report/DataSourceTable.tsx
  frontend/src/routes/report/GradientSegmentedControl.module.css
  frontend/src/routes/report/InputRow.tsx
  frontend/src/routes/report/page.tsx
  frontend/src/routes/report/tables.tsx
  frontend/src/routes/report/types.ts
Labels: frontend

#284 276: Add check for NLP_API_KEY env var
  backend/src/startup.rs
Labels: backend, bugfix

#287 275: Card default props
  frontend/src/theme.ts
Labels: frontend

#289 272: Fix report query ignoring visibility, add new option for query
  backend/src/api/report/get.rs
  backend/src/db/impls/report_repository.rs
Labels: backend, database, bugfix

#282 210: Setup percy
  .github/workflows/visual_regression.yml
  frontend/.env.example
  frontend/cypress.config.js
  frontend/cypress/e2e/VisualRegression.cy.ts
  frontend/cypress/support/commands.ts
  frontend/cypress/support/e2e.ts
  frontend/cypress/tsconfig.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/layouts/dashboard/navbar/dashboardNavbar/Navbar.tsx
  frontend/src/layouts/standard/navbar/Navbar.tsx
  frontend/tsconfig.json
Labels: qa

#281 273: Sidebar links work only on the text instead of the whole element
  frontend/src/layouts/dashboard/sidebar/SidebarLinksGroup.module.scss
  frontend/src/layouts/dashboard/sidebar/SidebarLinksGroup.tsx
Labels: frontend

#295 265: Fix flaky backend unit test
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/fetcher/tests.rs
Labels: backend, testing

#298 266: Build and push backend Docker image - GH Action
  .github/workflows/docker.yml
  backend/Dockerfile
Labels: docker, devops

#296 204 nlp playground
  backend/src/api/mod.rs
  backend/src/api/sandbox/mod.rs
  backend/src/main.rs
  backend/src/nlp/analysis.rs
  frontend/src/routes/sandbox/page.module.scss
  frontend/src/routes/sandbox/page.tsx
Labels: frontend, backend

#286 277: Add RMoodsProvider to simplify state management
  frontend/cypress/support/commands.ts
  frontend/src/atoms.ts
  frontend/src/layouts/dashboard/navbar/userMenu/UserMenu.tsx
  frontend/src/providers/RMoodsProvider.tsx
  frontend/src/rmoods/client/RMoodsClient.ts
  frontend/src/rmoods/types.ts
  frontend/src/routes/router.tsx
  frontend/src/routes/user/page.tsx
  frontend/src/routes/user/ui/profilePicture/ProfilePicture.tsx
Labels: frontend

#303 301: Serial tests to fix flakiness
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/fetcher/tests.rs
Labels: backend, testing

#302 297: Refactor report generation implement state feedback statuses
  backend/src/api/report/generate.rs
  backend/src/app_error.rs
  backend/src/db/db_error.rs
  backend/src/db/db_stored.rs
  backend/src/db/impls/report.rs
  backend/src/db/impls/user.rs
  backend/src/fetcher/feed_request.rs
  backend/src/fetcher/fetcher_error.rs
  backend/src/fetcher/reddit/error.rs
  backend/src/nlp/nlp_client.rs
  backend/src/nlp/nlp_request.rs
  backend/src/nlp/nlp_response.rs
  backend/src/report/report.rs
  backend/src/report/report_error.rs
  backend/src/report/report_request.rs
  backend/src/report/report_status.rs
  backend/src/validation/validation_error.rs
Labels: backend

#307 262 switch to usewebsocket
  frontend/package-lock.json
  frontend/package.json
  frontend/src/layouts/dashboard/navbar/userMenu/UserMenu.module.scss
  frontend/src/providers/WebsocketProvider.tsx
Labels: frontend, websocket

#294 280 add new models
  nlp/docs/__pycache__/conf.cpython-310.pyc
  nlp/src/base_models.py
  nlp/src/globals.py
  nlp/src/main.py
  nlp/src/models_loading.py
  nlp/src/process_input.py
  nlp/src/utils.py
  nlp/version_models.json
Labels: nlp
