Repository RMoodsTeam/RMoods, pull requests merged in 2025-01, with the labels that each got.

#311 310: Store data requests in reports
  backend/.sqlx/query-17c3d257e705478783a3d269f4facba8e36e024c21cbb1ebca83749e81c9c90b.json
  backend/.sqlx/query-2dc19b61c4ca2d95fccefa5155238f46e37a352863fda342c80b8a8966a3a4d1.json
  backend/.sqlx/query-2f39b9878c38d61f640d93f333f97042050f7840512c30933658b7e62afdfac8.json
  backend/.sqlx/query-6af59b611f9c2757c61acc80009c43739588261adb59af9f7e3b9c6cfeb5668d.json
  backend/.sqlx/query-ad13556ef97347ae659352e9de7d541f60aca89c94918c34d412a1de983b86e7.json
  backend/.sqlx/query-f40fe55f75225507e521ef98d0f5d36bd424e64651ee163d88fee0e121a125f9.json
  backend/migrations/20241204183100_initial.down.sql
  backend/migrations/20241204183100_initial.up.sql
  backend/src/db/impls/data_request.rs
  backend/src/db/impls/data_source.rs
  backend/src/db/impls/mod.rs
  backend/src/db/impls/report.rs
  backend/src/db/impls/report_repository.rs
  backend/src/db/impls/test_util.rs
  backend/src/db/model/mod.rs
  backend/src/fetcher/data_request.rs
  backend/src/fetcher/fetcher.rs
  backend/src/fetcher/mod.rs
  backend/src/fetcher/model/post_comments.rs
  backend/src/fetcher/model/posts.rs
  backend/src/fetcher/model/reddit_data.rs
  backend/src/fetcher/model/user_posts.rs
  backend/src/report/report.rs
  backend/src/report/report_request.rs
Labels: backend, database

#313 310: Fix sqlx tests
  .run/Run.run.xml
  backend/.sqlx/query-8ad58f971cfec8fc2cdd1e96ace33d8cfd1b10109947df6c74127835608abc02.json
  backend/.sqlx/query-f40fe55f75225507e521ef98d0f5d36bd424e64651ee163d88fee0e121a125f9.json
  backend/Cargo.toml
  backend/migrations/20241204183100_initial.up.sql
  backend/src/api/report/get.rs
  backend/src/db/db_error.rs
  backend/src/db/db_stored.rs
  backend/src/db/impls/mod.rs
  backend/src/db/impls/report.rs
  backend/src/db/impls/report_query.rs
  backend/src/db/impls/test_util.rs
  backend/src/db/impls/user.rs
Labels: backend, database, bugfix

#316 264 apply custom themes
  frontend/src/theme.ts
Labels: frontend

#325 324: Add Fetcher integration tests
  backend/src/app_error.rs
  backend/src/fetcher/fetcher.rs
  backend/src/fetcher/fetcher_error.rs
  backend/src/fetcher/tests.rs
Labels: backend, testing

#328 320 e2e tests
  .github/workflows/frontend.yml
  frontend/cypress.config.js
  frontend/cypress/e2e/Footer.cy.ts
  frontend/cypress/e2e/SidebarDrawer.cy.ts
  frontend/cypress/e2e/ThemeSwitch.cy.ts
  frontend/cypress/visual/VisualRegression.cy.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/layouts/dashboard/footer/Footer.tsx
  frontend/src/layouts/dashboard/navbar/dashboardNavbar/Navbar.tsx
  frontend/src/layouts/shared/ThemeSwitch.tsx
  frontend/src/layouts/standard/footer/Footer.tsx
Labels: frontend, qa

#329 260 report browser page
  frontend/src/rmoods/types.ts
  frontend/src/routes/browse/reports/FilterNavbar.tsx
  frontend/src/routes/browse/reports/page.tsx
  frontend/src/routes/user/reports/page.tsx
  frontend/src/utility/util.ts
Labels: frontend

#331 323: Add DB indexes
  backend/migrations/20250123110918_indexes.down.sql
  backend/migrations/20250123110918_indexes.up.sql
Labels: backend, database

#336 333: Redirect user after submitting report
  frontend/src/routes/report/page/page.tsx
Labels: bug, frontend

#335 319: Delete reports
  backend/.sqlx/query-00abef5b00e3b0c6e4cce14c0a0f3ec4ce91d2c09aa39648363f43bd9af77db3.json
  backend/.sqlx/query-1949d0185bebedc97b5b0e0c197fb132e81274b4c8d7bad7129023dcd53b6101.json
  backend/src/api/mod.rs
  backend/src/api/report/delete.rs
  backend/src/api/report/mod.rs
  backend/src/app_error.rs
  backend/src/db/db_error.rs
  backend/src/db/impls/nlp_analysis.rs
  backend/src/db/impls/report_query.rs
  frontend/src/rmoods/client/RMoodsClient.ts
  frontend/src/rmoods/types.ts
  frontend/src/routes/user/reports/page.tsx
Labels: frontend, backend

#337 332: Replace local url variable with global constant
  frontend/src/routes/login/page.tsx
Labels: bug, frontend
